0 - Bibliotecas

In [67]:
import pandas as pd
import sqlalchemy as sq
from sqlalchemy import text
import pyodbc as po
import pymysql as pm

1 - Acesso à Base de Dados

In [68]:
SERVER = 'CONTROLADORIA\SQLEXPRESS'
DATABASE = 'Service'
DRIVER = 'SQL Server Native Client 11.0'
USERNAME = ''
PASSWORD = ''
DATABASE_CONNECTION = f'mssql://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

engine = sq.create_engine(DATABASE_CONNECTION)
connection = engine.connect()

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Controladoria\AppData\Local\Temp\ipykernel_8712\1996456862.py:1: SyntaxWarning: invalid escape sequence '\S'
  SERVER = 'CONTROLADORIA\SQLEXPRESS'

2 - Acesso às Tabelas

In [69]:
ContasPagar = pd.read_sql_query('SELECT * FROM [Service].[dbo].[ContasPagar] where ValorDuplicata > 0 and Pago = 0',connection)

In [70]:
ContasPagas = pd.read_sql_query('SELECT * FROM [Service].[dbo].[ContasPagar] where Pago = 1',connection)

In [71]:
ContasReceber = pd.read_sql_query('SELECT * FROM [Service].[dbo].[ContasReceber] where Pago = 0',connection)

In [72]:
ContasRecebidas = pd.read_sql_query('SELECT * FROM [Service].[dbo].[ContasReceber] where Pago = 1',connection)

In [73]:
Clientes = pd.read_sql_query("SELECT * FROM [Service].[dbo].[clientes] where tipo <> 'F'",connection)

In [74]:
Fornecedores = pd.read_sql_query("SELECT * FROM [Service].[dbo].[clientes] where tipo = 'F'",connection)

In [75]:
Rubricas = pd.read_excel('CentroResultados.xlsx')
Rubricas = Rubricas.query("ApuraResultado == True")

In [76]:
Classes = pd.read_csv('Classe.csv',sep=';')

In [77]:
Empresas = pd.read_csv('Empresas.csv',sep=';')

In [78]:
PE = pd.read_csv('PontoEquilibrio.csv',sep=';')

In [79]:
Receita = pd.read_csv('Receita.csv',sep=';')

In [80]:
Gasto = pd.read_csv('Gasto.csv',sep=';')

In [81]:
NotasFiscais = pd.read_sql_query("SELECT * FROM [Service].[dbo].[NotasFiscaisSaída] where Status <> 'C'",connection)

3 - Extração dos Dados

In [82]:
APagar = ContasPagar.filter(['CodInterno','Empresa','CentroResultados','Fornecedor','DataEmissão','Vencimento','ValorDuplicata'])

In [83]:
Pagos = ContasPagas.filter(['CodInterno','Empresa','CentroResultados','Fornecedor','DataEmissão','Vencimento','DataPagamento','ValorDuplicata'])

In [84]:
AReceber = ContasReceber.filter(['CodInterno','Empresa','CentroResultados','Cliente','DataEmissão','Vencimento','ValorDuplicata'])

In [85]:
Recebido = ContasRecebidas.filter(['CodInterno','Empresa','CentroResultados','Cliente','DataEmissão','Vencimento','DataPagamento','ValorDuplicata'])

In [86]:
Cliente = Clientes.filter(['CodCliente','CentroResultados','Nome'])

In [87]:
Fornecedor = Fornecedores.filter(['CodCliente','Nome'])

In [88]:
Faturamento = NotasFiscais.filter(['CodInterno','Empresa','Cliente','DataEmissão','ValorNota'])

4 - Ajustes

4.1 - Renomear Colunas:

In [89]:
APagar = APagar.rename(columns={'CentroResultados':'CodGasto','Fornecedor':'CodFornecedor','DataEmissão':'Emissao'})

In [90]:
Pagos = Pagos.rename(columns={'CentroResultados':'CodGasto','Fornecedor':'CodFornecedor','DataEmissão':'Emissao'})

In [91]:
AReceber = AReceber.rename(columns={'CentroResultados':'CodReceita','Cliente':'CodCliente','DataEmissão':'Emissao'})

In [92]:
Recebido = Recebido.rename(columns={'CentroResultados':'CodReceita','Cliente':'CodCliente','DataEmissão':'Emissao'})

In [93]:
Faturamento = Faturamento.rename(columns={'Cliente':'CodCliente','DataEmissão':'Emissao'})

In [94]:
Cliente = Cliente.rename(columns={'CentroResultados':'CodReceita','Nome':"Cliente"})

In [95]:
Fornecedor = Fornecedor.rename(columns={'CodCliente':'CodFornecedor','Nome':"Fornecedor"})

4.2 - Corrigir Tipos de Dados

In [96]:
APagar.dtypes

CodInterno               float64
Empresa                   object
CodGasto                 float64
CodFornecedor            float64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
ValorDuplicata           float64
dtype: object

In [97]:
APagar = APagar.astype({'CodInterno':'int64','Empresa':'int64','CodGasto':'int64','CodFornecedor':'int64','Emissao':'datetime64[ns]','Vencimento':'datetime64[ns]','ValorDuplicata':'float64'})
APagar.dtypes

CodInterno                 int64
Empresa                    int64
CodGasto                   int64
CodFornecedor              int64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
ValorDuplicata           float64
dtype: object

In [98]:
Pagos.dtypes

CodInterno               float64
Empresa                   object
CodGasto                 float64
CodFornecedor            float64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
DataPagamento     datetime64[ns]
ValorDuplicata           float64
dtype: object

In [99]:
Pagos = Pagos.astype({'CodInterno':'int64','Empresa':'int64','CodGasto':'int64','CodFornecedor':'int64','Emissao':'datetime64[ns]','Vencimento':'datetime64[ns]','DataPagamento':'datetime64[ns]','ValorDuplicata':'float64'})
Pagos.dtypes

CodInterno                 int64
Empresa                    int64
CodGasto                   int64
CodFornecedor              int64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
DataPagamento     datetime64[ns]
ValorDuplicata           float64
dtype: object

In [100]:
AReceber.dtypes

CodInterno               float64
Empresa                   object
CodReceita               float64
CodCliente               float64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
ValorDuplicata           float64
dtype: object

In [101]:
AReceber = AReceber.astype({'CodInterno':'int64','Empresa':'int64','CodReceita':'int64','CodCliente':'int64','Emissao':'datetime64[ns]','Vencimento':'datetime64[ns]','ValorDuplicata':'float64'})
AReceber.dtypes

CodInterno                 int64
Empresa                    int64
CodReceita                 int64
CodCliente                 int64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
ValorDuplicata           float64
dtype: object

In [102]:
Recebido.dtypes

CodInterno               float64
Empresa                   object
CodReceita               float64
CodCliente               float64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
DataPagamento     datetime64[ns]
ValorDuplicata           float64
dtype: object

In [103]:
Recebido = Recebido.astype({'CodInterno':'int64','Empresa':'int64','CodReceita':'int64','CodCliente':'int64','Emissao':'datetime64[ns]','Vencimento':'datetime64[ns]','DataPagamento':'datetime64[ns]','ValorDuplicata':'float64'})
Recebido.dtypes

CodInterno                 int64
Empresa                    int64
CodReceita                 int64
CodCliente                 int64
Emissao           datetime64[ns]
Vencimento        datetime64[ns]
DataPagamento     datetime64[ns]
ValorDuplicata           float64
dtype: object

In [104]:
Faturamento.dtypes

CodInterno           float64
Empresa                int64
CodCliente           float64
Emissao       datetime64[ns]
ValorNota            float64
dtype: object

In [105]:
Faturamento = Faturamento.astype({'CodInterno':'int64','Empresa':'int64','CodCliente':'int64','Emissao':'datetime64[ns]','ValorNota':'float64'})
Faturamento.dtypes

CodInterno             int64
Empresa                int64
CodCliente             int64
Emissao       datetime64[ns]
ValorNota            float64
dtype: object

In [106]:
Cliente

,CodCliente,CodReceita,Cliente
0,35.0,43.0,CONSUMIDOR ESPECIAL
1,146.0,43.0,BRAZ DA SILVA XIMENES
2,147.0,43.0,BRUNO ALMEIDA BASTOS DA SILVEIRA
3,154.0,43.0,CONDOMÍNIO RESIDENCIAL VIENA
4,194.0,43.0,LUKKENT TECHNOLOGIES LTDA EPP
...,...,...,...
1505,1369.0,85.0,SINDICATO NACIONAL DOS OFICIAIS DA MARINHA MER...
1506,569.0,43.0,MARTI DA SERRA COMERCIO E REPRESENTACOES LTDA
1507,1590.0,16.0,ALEXANDRO CHERIGATI
1508,1134.0,43.0,FERREIRA E BASTOS DISTRIBUIDORA LTDA
1509,1522.0,93.0,G. CAMPOS PRUDENTE ROUPAS LTDA

In [107]:
Cliente.dtypes

CodCliente    float64
CodReceita    float64
Cliente        object
dtype: object

In [108]:
Cliente = Cliente.astype({'CodCliente':'int64','CodReceita':'float64','Cliente':'str'})
Cliente.dtypes

CodCliente      int64
CodReceita    float64
Cliente        object
dtype: object

In [109]:
Fornecedor = Fornecedor.astype({'CodFornecedor':'int64','Fornecedor':'str'})
Fornecedor.dtypes

CodFornecedor     int64
Fornecedor       object
dtype: object

In [110]:
Fornecedor

     CodFornecedor                                         Fornecedor
0              166  QTC BRASIL INDUSTRIA E BENEFICIAMENTO DE MATER...
1              169   INFOTEC COM. DE EQUIP. E SIST. DE SEGURANCA LTDA
2              176  SEGTEC DISTRIBUIDORA DE EQUIPAMENTOS DE SEGURA...
3              178        FUNDO DO REGIME GERAL DE PREVIDENCIA SOCIAL
4              181                                     BANCO PAN S.A.
..             ...                                                ...
601           2264  JUNTA COMERCIAL DO ESTADO DO RIO DE JANEIRO - ...
602           1253                             MUNICIPIO DE ITAPERUNA
603            285            MATHIAS NETTO E REZENDE UTILIDADES LTDA
604            100                 NEOGUARD SEGURANCA ELETRONICA LTDA
605            866                      MEGA LIDER INFORMATICA EIRELI

[606 rows x 2 columns]

4.3 - Ajustes nos Registros

In [111]:
emp1 = [43,47,35,7,19,93,22,17,16,8,166]
for x in emp1:
    for i, row in Recebido.iterrows():
        if row['CodReceita'] == x:
            Recebido.loc[i,'Empresa'] = 1

for x in emp1:
    for i, row in AReceber.iterrows():
        if row['CodReceita'] == x:
            AReceber.loc[i,'Empresa'] = 1

In [112]:
for i, row in Recebido.iterrows():
    if row['Empresa'] == 1001:
        Recebido.loc[i,'Empresa'] = 1

for i, row in Recebido.iterrows():
    if row['Empresa'] == 1002:
        Recebido.loc[i,'Empresa'] = 2

for i, row in Recebido.iterrows():
    if row['Empresa'] == 1003:
        Recebido.loc[i,'Empresa'] = 3

In [113]:
for i, row in AReceber.iterrows():
    if row['Empresa'] == 1001:
        AReceber.loc[i,'Empresa'] = 1

for i, row in AReceber.iterrows():
    if row['Empresa'] == 1002:
        AReceber.loc[i,'Empresa'] = 2

for i, row in AReceber.iterrows():
    if row['Empresa'] == 1003:
        AReceber.loc[i,'Empresa'] = 3

In [114]:
emp2 = [85,165,171,182]
for x in emp2:
    for i, row in Recebido.iterrows():
        if row['CodReceita'] == x:
            Recebido.loc[i,'Empresa'] = 2

for x in emp2:
    for i, row in AReceber.iterrows():
        if row['CodReceita'] == x:
            AReceber.loc[i,'Empresa'] = 2

In [115]:
emp3 = [76,207]
for x in emp3:
    for i, row in Recebido.iterrows():
        if row['CodReceita'] == x:
            Recebido.loc[i,'Empresa'] = 3

for x in emp3:
    for i, row in AReceber.iterrows():
        if row['CodReceita'] == x:
            AReceber.loc[i,'Empresa'] = 3

In [116]:
for i, row in APagar.iterrows():
    if row['Empresa'] == 1001:
        APagar.loc[i,'Empresa'] = 1

for i, row in APagar.iterrows():
    if row['Empresa'] == 1002:
        APagar.loc[i,'Empresa'] = 2

for i, row in APagar.iterrows():
    if row['Empresa'] == 1003:
        APagar.loc[i,'Empresa'] = 3

In [117]:
for i, row in Pagos.iterrows():
    if row['Empresa'] == 1001:
        Pagos.loc[i,'Empresa'] = 1

for i, row in Pagos.iterrows():
    if row['Empresa'] == 1002:
        Pagos.loc[i,'Empresa'] = 2

for i, row in Pagos.iterrows():
    if row['Empresa'] == 1003:
        Pagos.loc[i,'Empresa'] = 3

5 - Carregar os Dados

5.1 - Fatos

In [118]:
APagar.to_csv("APagar.csv",encoding='utf-8',index=False)
Pagos.to_csv("Pagos.csv",encoding='utf-8',index=False)

In [119]:
AReceber.to_csv("AReceber.csv",encoding='utf-8',index=False)
Recebido.to_csv("Recebido.csv",encoding='utf-8',index=False)

In [120]:
Faturamento.to_csv("Faturamento.csv",encoding='utf-8',index=False)

5.2 - Dimensões

In [121]:
Cliente.to_csv("Cliente.csv",encoding='utf-8',index=False)
Fornecedor.to_csv("Fornecedor.csv",encoding='utf-8',index=False)

5.3 - Carregando para o MySQL

In [122]:
url = 'mysql+pymysql://root:1508@localhost:3306/neoguardcontrol' # define o acesso ao MySQL

engine = sq.create_engine(url, echo=True) # cria a Conexão

con = engine.connect()

2024-04-29 08:22:44,243 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-29 08:22:44,243 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,245 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-29 08:22:44,245 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,246 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-29 08:22:44,247 INFO sqlalchemy.engine.Engine [raw sql] {}

In [123]:
APagar.to_sql('apagar', con=engine, if_exists='replace', index=False)
Pagos.to_sql('pagos', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:44,259 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:44,260 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`apagar`
2024-04-29 08:22:44,261 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,265 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`apagar`
2024-04-29 08:22:44,266 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,268 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:44,268 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,270 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:44,271 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,274 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `apagar`
2024-04-29 08:22:44,274 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,277 INFO sqlalchemy.engine.Engine
DROP TABLE apagar
2024-04-29 08:22:44,278 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2024-04-29 08:22:44,292 INFO sqlalchemy.engine.Engine
CREATE TABLE apagar (
	`CodInterno` BIGINT,
	`Empresa` BIGINT,
	`CodGasto` BIGINT,
	`CodFornecedor` BIGINT,
	`Emissao` DATETIME,
	`Vencimento` DATETIME,
	`ValorDuplicata` FLOAT(53)
)


2024-04-29 08:22:44,293 INFO sqlalchemy.engine.Engine [no key 0.00068s] {}
2024-04-29 08:22:44,319 INFO sqlalchemy.engine.Engine INSERT INTO apagar (`CodInterno`, `Empresa`, `CodGasto`, `CodFornecedor`, `Emissao`, `Vencimento`, `ValorDuplicata`) VALUES (%(CodInterno)s, %(Empresa)s, %(CodGasto)s, %(CodFornecedor)s, %(Emissao)s, %(Vencimento)s, %(ValorDuplicata)s)
2024-04-29 08:22:44,320 INFO sqlalchemy.engine.Engine [generated in 0.00499s] [{'CodInterno': 46810, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 5, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46811, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 6, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46812, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 7, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46813, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 8, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46814, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 9, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46815, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 10, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46816, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 11, 10, 0, 0), 'ValorDuplicata': 297.95}, {'CodInterno': 46817, 'Empresa': 1, 'CodGasto': 130, 'CodFornecedor': 293, 'Emissao': datetime.datetime(2020, 7, 3, 0, 0), 'Vencimento': datetime.datetime(2024, 12, 10, 0, 0), 'ValorDuplicata': 297.95}  ... displaying 10 of 918 total bound parameter sets ...  {'CodInterno': 78311, 'Empresa': 2, 'CodGasto': 556, 'CodFornecedor': 818, 'Emissao': datetime.datetime(2023, 2, 7, 0, 0), 'Vencimento': datetime.datetime(2028, 1, 28, 0, 0), 'ValorDuplicata': 2003.6}, {'CodInterno': 88895, 'Empresa': 1, 'CodGasto': 991, 'CodFornecedor': 331, 'Emissao': datetime.datetime(2023, 3, 16, 0, 0), 'Vencimento': datetime.datetime(2023, 3, 16, 0, 0), 'ValorDuplicata': 192.89}]
2024-04-29 08:22:44,353 INFO sqlalchemy.engine.Engine COMMIT
2024-04-29 08:22:44,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:44,372 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`pagos`
2024-04-29 08:22:44,373 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,376 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`pagos`
2024-04-29 08:22:44,376 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,379 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:44,380 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,383 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:44,383 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,386 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `pagos`
2024-04-29 08:22:44,386 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:44,389 INFO sqlalchemy.engine.Engine
DROP TABLE pagos
2024-04-29 08:22:44,389 INFO sqlalchemy.engine.Engine [no key 0.00062s] {}
2024-04-29 08:22:44,429 INFO sqlalchemy.engine.Engine
CREATE TABLE pagos (
	`CodInterno` BIGINT,
	`Empresa` BIGINT,
	`CodGasto` BIGINT,
	`CodFornecedor` BIGINT,
	`Emissao` DATETIME,
	`Vencimento` DATETIME,
	`DataPagamento` DATETIME,
	`ValorDuplicata` FLOAT(53)
)


2024-04-29 08:22:44,430 INFO sqlalchemy.engine.Engine [no key 0.00044s] {}
2024-04-29 08:22:44,602 INFO sqlalchemy.engine.Engine INSERT INTO pagos (`CodInterno`, `Empresa`, `CodGasto`, `CodFornecedor`, `Emissao`, `Vencimento`, `DataPagamento`, `ValorDuplicata`) VALUES (%(CodInterno)s, %(Empresa)s, %(CodGasto)s, %(CodFornecedor)s, %(Emissao)s, %(Vencimento)s, %(DataPagamento)s, %(ValorDuplicata)s)
2024-04-29 08:22:44,603 INFO sqlalchemy.engine.Engine [generated in 0.06022s] [{'CodInterno': 43102, 'Empresa': 1, 'CodGasto': 1252, 'CodFornecedor': 174, 'Emissao': datetime.datetime(2018, 11, 7, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 13, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 13, 0, 0), 'ValorDuplicata': 1977.0}, {'CodInterno': 43103, 'Empresa': 1, 'CodGasto': 396, 'CodFornecedor': 175, 'Emissao': datetime.datetime(2018, 11, 6, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 20, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 20, 0, 0), 'ValorDuplicata': 579.57}, {'CodInterno': 43104, 'Empresa': 1, 'CodGasto': 10584, 'CodFornecedor': 136, 'Emissao': datetime.datetime(2018, 8, 8, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 20, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 20, 0, 0), 'ValorDuplicata': 59.9}, {'CodInterno': 43105, 'Empresa': 1, 'CodGasto': 28, 'CodFornecedor': 168, 'Emissao': datetime.datetime(2018, 11, 5, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 20, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 20, 0, 0), 'ValorDuplicata': 4458.25}, {'CodInterno': 43110, 'Empresa': 1, 'CodGasto': 559, 'CodFornecedor': 178, 'Emissao': datetime.datetime(2018, 11, 13, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 19, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 19, 0, 0), 'ValorDuplicata': 1221.45}, {'CodInterno': 43111, 'Empresa': 1, 'CodGasto': 559, 'CodFornecedor': 177, 'Emissao': datetime.datetime(2018, 11, 12, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 19, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 19, 0, 0), 'ValorDuplicata': 1384.81}, {'CodInterno': 43112, 'Empresa': 1, 'CodGasto': 191, 'CodFornecedor': 171, 'Emissao': datetime.datetime(2018, 10, 17, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 16, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 16, 0, 0), 'ValorDuplicata': 373.47}, {'CodInterno': 43113, 'Empresa': 1, 'CodGasto': 191, 'CodFornecedor': 171, 'Emissao': datetime.datetime(2018, 8, 16, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 14, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 19, 0, 0), 'ValorDuplicata': 291.45}  ... displaying 10 of 17833 total bound parameter sets ...  {'CodInterno': 88954, 'Empresa': 2, 'CodGasto': 299, 'CodFornecedor': 1181, 'Emissao': datetime.datetime(2023, 3, 20, 0, 0), 'Vencimento': datetime.datetime(2023, 3, 20, 0, 0), 'DataPagamento': datetime.datetime(2023, 3, 22, 0, 0), 'ValorDuplicata': 570.9}, {'CodInterno': 88958, 'Empresa': 1, 'CodGasto': 299, 'CodFornecedor': 548, 'Emissao': datetime.datetime(2023, 3, 21, 0, 0), 'Vencimento': datetime.datetime(2023, 3, 21, 0, 0), 'DataPagamento': datetime.datetime(2023, 3, 21, 0, 0), 'ValorDuplicata': 243.0}]
2024-04-29 08:22:45,169 INFO sqlalchemy.engine.Engine COMMIT

17833

In [124]:
AReceber.to_sql('areceber', con=engine, if_exists='replace', index=False)
Recebido.to_sql('recebido', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:45,216 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:45,218 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`areceber`
2024-04-29 08:22:45,219 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,222 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`areceber`
2024-04-29 08:22:45,222 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,225 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:45,225 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,227 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:45,227 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,230 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `areceber`
2024-04-29 08:22:45,230 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,232 INFO sqlalchemy.engine.Engine
DROP TABLE areceber
2024-04-29 08:22:45,233 INFO sqlalchemy.engine.Engine [no key 0.00048s] {}
2024-04-29 08:22:45,248 INFO sqlalchemy.engine.Engine
CREATE TABLE areceber (
	`CodInterno` BIGINT,
	`Empresa` BIGINT,
	`CodReceita` BIGINT,
	`CodCliente` BIGINT,
	`Emissao` DATETIME,
	`Vencimento` DATETIME,
	`ValorDuplicata` FLOAT(53)
)


2024-04-29 08:22:45,248 INFO sqlalchemy.engine.Engine [no key 0.00058s] {}
2024-04-29 08:22:45,276 INFO sqlalchemy.engine.Engine INSERT INTO areceber (`CodInterno`, `Empresa`, `CodReceita`, `CodCliente`, `Emissao`, `Vencimento`, `ValorDuplicata`) VALUES (%(CodInterno)s, %(Empresa)s, %(CodReceita)s, %(CodCliente)s, %(Emissao)s, %(Vencimento)s, %(ValorDuplicata)s)
2024-04-29 08:22:45,276 INFO sqlalchemy.engine.Engine [generated in 0.00644s] [{'CodInterno': 192551, 'Empresa': 1, 'CodReceita': 16, 'CodCliente': 856, 'Emissao': datetime.datetime(2021, 1, 25, 0, 0), 'Vencimento': datetime.datetime(2021, 6, 15, 0, 0), 'ValorDuplicata': 70.8}, {'CodInterno': 177186, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 364, 'Emissao': datetime.datetime(2019, 8, 28, 0, 0), 'Vencimento': datetime.datetime(2019, 10, 25, 0, 0), 'ValorDuplicata': 389.15}, {'CodInterno': 177187, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 364, 'Emissao': datetime.datetime(2019, 8, 28, 0, 0), 'Vencimento': datetime.datetime(2019, 11, 15, 0, 0), 'ValorDuplicata': 389.15}, {'CodInterno': 177563, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 244, 'Emissao': datetime.datetime(2019, 11, 1, 0, 0), 'Vencimento': datetime.datetime(2019, 12, 6, 0, 0), 'ValorDuplicata': 1048.88}, {'CodInterno': 177564, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 244, 'Emissao': datetime.datetime(2019, 11, 1, 0, 0), 'Vencimento': datetime.datetime(2020, 1, 6, 0, 0), 'ValorDuplicata': 1048.88}, {'CodInterno': 177565, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 244, 'Emissao': datetime.datetime(2019, 11, 1, 0, 0), 'Vencimento': datetime.datetime(2020, 2, 6, 0, 0), 'ValorDuplicata': 1048.88}, {'CodInterno': 177566, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 244, 'Emissao': datetime.datetime(2019, 11, 1, 0, 0), 'Vencimento': datetime.datetime(2020, 3, 6, 0, 0), 'ValorDuplicata': 1048.88}, {'CodInterno': 177567, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 244, 'Emissao': datetime.datetime(2019, 11, 1, 0, 0), 'Vencimento': datetime.datetime(2020, 4, 6, 0, 0), 'ValorDuplicata': 1048.89}  ... displaying 10 of 1636 total bound parameter sets ...  {'CodInterno': 227774, 'Empresa': 1, 'CodReceita': 16, 'CodCliente': 1279, 'Emissao': datetime.datetime(2023, 3, 22, 0, 0), 'Vencimento': datetime.datetime(2023, 4, 15, 0, 0), 'ValorDuplicata': 59.0}, {'CodInterno': 227778, 'Empresa': 1, 'CodReceita': 16, 'CodCliente': 1226, 'Emissao': datetime.datetime(2023, 3, 22, 0, 0), 'Vencimento': datetime.datetime(2023, 4, 25, 0, 0), 'ValorDuplicata': 59.0}]
2024-04-29 08:22:45,325 INFO sqlalchemy.engine.Engine COMMIT
2024-04-29 08:22:45,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:45,330 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`recebido`
2024-04-29 08:22:45,330 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,332 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`recebido`
2024-04-29 08:22:45,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,334 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:45,335 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,337 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:45,337 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,339 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `recebido`
2024-04-29 08:22:45,340 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:45,342 INFO sqlalchemy.engine.Engine
DROP TABLE recebido
2024-04-29 08:22:45,342 INFO sqlalchemy.engine.Engine [no key 0.00044s] {}
2024-04-29 08:22:45,352 INFO sqlalchemy.engine.Engine
CREATE TABLE recebido (
	`CodInterno` BIGINT,
	`Empresa` BIGINT,
	`CodReceita` BIGINT,
	`CodCliente` BIGINT,
	`Emissao` DATETIME,
	`Vencimento` DATETIME,
	`DataPagamento` DATETIME,
	`ValorDuplicata` FLOAT(53)
)


2024-04-29 08:22:45,352 INFO sqlalchemy.engine.Engine [no key 0.00046s] {}
2024-04-29 08:22:45,553 INFO sqlalchemy.engine.Engine INSERT INTO recebido (`CodInterno`, `Empresa`, `CodReceita`, `CodCliente`, `Emissao`, `Vencimento`, `DataPagamento`, `ValorDuplicata`) VALUES (%(CodInterno)s, %(Empresa)s, %(CodReceita)s, %(CodCliente)s, %(Emissao)s, %(Vencimento)s, %(DataPagamento)s, %(ValorDuplicata)s)
2024-04-29 08:22:45,554 INFO sqlalchemy.engine.Engine [generated in 0.12880s] [{'CodInterno': 175299, 'Empresa': 1, 'CodReceita': 43, 'CodCliente': 162, 'Emissao': datetime.datetime(2018, 11, 6, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 16, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 6, 0, 0), 'ValorDuplicata': 10.0}, {'CodInterno': 175311, 'Empresa': 1, 'CodReceita': 43, 'CodCliente': 115, 'Emissao': datetime.datetime(2018, 8, 15, 0, 0), 'Vencimento': datetime.datetime(2018, 12, 15, 0, 0), 'DataPagamento': datetime.datetime(2018, 12, 11, 0, 0), 'ValorDuplicata': 150.0}, {'CodInterno': 175312, 'Empresa': 1, 'CodReceita': 43, 'CodCliente': 108, 'Emissao': datetime.datetime(2017, 12, 20, 0, 0), 'Vencimento': datetime.datetime(2018, 12, 15, 0, 0), 'DataPagamento': datetime.datetime(2018, 12, 17, 0, 0), 'ValorDuplicata': 90.0}, {'CodInterno': 175507, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 153, 'Emissao': datetime.datetime(2018, 12, 6, 0, 0), 'Vencimento': datetime.datetime(2019, 1, 28, 0, 0), 'DataPagamento': datetime.datetime(2019, 1, 29, 0, 0), 'ValorDuplicata': 980.55}, {'CodInterno': 175314, 'Empresa': 1, 'CodReceita': 16, 'CodCliente': 123, 'Emissao': datetime.datetime(2018, 10, 30, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 15, 0, 0), 'DataPagamento': datetime.datetime(2018, 12, 17, 0, 0), 'ValorDuplicata': 78.66}, {'CodInterno': 175335, 'Empresa': 1, 'CodReceita': 16, 'CodCliente': 122, 'Emissao': datetime.datetime(2018, 10, 30, 0, 0), 'Vencimento': datetime.datetime(2018, 11, 15, 0, 0), 'DataPagamento': datetime.datetime(2018, 11, 16, 0, 0), 'ValorDuplicata': 720.0}, {'CodInterno': 175316, 'Empresa': 1, 'CodReceita': 43, 'CodCliente': 106, 'Emissao': datetime.datetime(2017, 12, 19, 0, 0), 'Vencimento': datetime.datetime(2018, 12, 15, 0, 0), 'DataPagamento': datetime.datetime(2018, 12, 5, 0, 0), 'ValorDuplicata': 90.0}, {'CodInterno': 175317, 'Empresa': 1, 'CodReceita': 16, 'CodCliente': 124, 'Emissao': datetime.datetime(2017, 12, 19, 0, 0), 'Vencimento': datetime.datetime(2018, 12, 20, 0, 0), 'DataPagamento': datetime.datetime(2019, 1, 4, 0, 0), 'ValorDuplicata': 49.0}  ... displaying 10 of 19735 total bound parameter sets ...  {'CodInterno': 227929, 'Empresa': 1, 'CodReceita': 43, 'CodCliente': 285, 'Emissao': datetime.datetime(2023, 3, 30, 0, 0), 'Vencimento': datetime.datetime(2023, 10, 5, 0, 0), 'DataPagamento': datetime.datetime(2023, 10, 5, 0, 0), 'ValorDuplicata': 224.0}, {'CodInterno': 227939, 'Empresa': 1, 'CodReceita': 47, 'CodCliente': 1046, 'Emissao': datetime.datetime(2023, 3, 30, 0, 0), 'Vencimento': datetime.datetime(2023, 3, 30, 0, 0), 'DataPagamento': datetime.datetime(2023, 3, 31, 0, 0), 'ValorDuplicata': 35.0}]
2024-04-29 08:22:46,195 INFO sqlalchemy.engine.Engine COMMIT

19735

In [125]:
Faturamento.to_sql('faturamento', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:46,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:46,217 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`faturamento`
2024-04-29 08:22:46,217 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,220 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`faturamento`
2024-04-29 08:22:46,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,222 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,223 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,225 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,225 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,227 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `faturamento`
2024-04-29 08:22:46,228 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,230 INFO sqlalchemy.engine.Engine
DROP TABLE faturamento
2024-04-29 08:22:46,231 INFO sqlalchemy.engine.Engine [no key 0.00070s] {}
2024-04-29 08:22:46,277 INFO sqlalchemy.engine.Engine
CREATE TABLE faturamento (
	`CodInterno` BIGINT,
	`Empresa` BIGINT,
	`CodCliente` BIGINT,
	`Emissao` DATETIME,
	`ValorNota` FLOAT(53)
)


2024-04-29 08:22:46,278 INFO sqlalchemy.engine.Engine [no key 0.00069s] {}
2024-04-29 08:22:46,350 INFO sqlalchemy.engine.Engine INSERT INTO faturamento (`CodInterno`, `Empresa`, `CodCliente`, `Emissao`, `ValorNota`) VALUES (%(CodInterno)s, %(Empresa)s, %(CodCliente)s, %(Emissao)s, %(ValorNota)s)
2024-04-29 08:22:46,350 INFO sqlalchemy.engine.Engine [generated in 0.03547s] [{'CodInterno': 183280, 'Empresa': 1, 'CodCliente': 198, 'Emissao': datetime.datetime(2018, 11, 16, 0, 0), 'ValorNota': 39.35}, {'CodInterno': 183281, 'Empresa': 1, 'CodCliente': 199, 'Emissao': datetime.datetime(2018, 11, 19, 0, 0), 'ValorNota': 50.0}, {'CodInterno': 183282, 'Empresa': 1, 'CodCliente': 199, 'Emissao': datetime.datetime(2018, 11, 19, 0, 0), 'ValorNota': 30.0}, {'CodInterno': 183283, 'Empresa': 1, 'CodCliente': 193, 'Emissao': datetime.datetime(2018, 11, 20, 0, 0), 'ValorNota': 338.3}, {'CodInterno': 183284, 'Empresa': 1, 'CodCliente': 193, 'Emissao': datetime.datetime(2018, 11, 20, 0, 0), 'ValorNota': 200.0}, {'CodInterno': 183286, 'Empresa': 1001, 'CodCliente': 157, 'Emissao': datetime.datetime(2018, 11, 20, 0, 0), 'ValorNota': 2475.06}, {'CodInterno': 183278, 'Empresa': 1, 'CodCliente': 167, 'Emissao': datetime.datetime(2018, 11, 12, 0, 0), 'ValorNota': 6554.0}, {'CodInterno': 183285, 'Empresa': 1001, 'CodCliente': 158, 'Emissao': datetime.datetime(2018, 11, 20, 0, 0), 'ValorNota': 761.79}  ... displaying 10 of 15090 total bound parameter sets ...  {'CodInterno': 215274, 'Empresa': 1001, 'CodCliente': 320, 'Emissao': datetime.datetime(2023, 3, 22, 0, 0), 'ValorNota': 800.0}, {'CodInterno': 215398, 'Empresa': 1, 'CodCliente': 153, 'Emissao': datetime.datetime(2023, 4, 10, 0, 0), 'ValorNota': 2938.0}]
2024-04-29 08:22:46,697 INFO sqlalchemy.engine.Engine COMMIT

15090

In [126]:
Cliente.to_sql('cliente', con=engine, if_exists='replace', index=False)
Fornecedor.to_sql('fornecedor', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:46,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:46,713 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`cliente`
2024-04-29 08:22:46,713 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,716 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`cliente`
2024-04-29 08:22:46,716 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,718 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,719 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,721 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,724 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `cliente`
2024-04-29 08:22:46,724 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,727 INFO sqlalchemy.engine.Engine
DROP TABLE cliente
2024-04-29 08:22:46,727 INFO sqlalchemy.engine.Engine [no key 0.00049s] {}
2024-04-29 08:22:46,738 INFO sqlalchemy.engine.Engine
CREATE TABLE cliente (
	`CodCliente` BIGINT,
	`CodReceita` FLOAT(53),
	`Cliente` TEXT
)


2024-04-29 08:22:46,739 INFO sqlalchemy.engine.Engine [no key 0.00065s] {}
2024-04-29 08:22:46,768 INFO sqlalchemy.engine.Engine INSERT INTO cliente (`CodCliente`, `CodReceita`, `Cliente`) VALUES (%(CodCliente)s, %(CodReceita)s, %(Cliente)s)
2024-04-29 08:22:46,769 INFO sqlalchemy.engine.Engine [generated in 0.00267s] [{'CodCliente': 35, 'CodReceita': 43.0, 'Cliente': 'CONSUMIDOR ESPECIAL'}, {'CodCliente': 146, 'CodReceita': 43.0, 'Cliente': 'BRAZ DA SILVA XIMENES'}, {'CodCliente': 147, 'CodReceita': 43.0, 'Cliente': 'BRUNO ALMEIDA BASTOS DA SILVEIRA'}, {'CodCliente': 154, 'CodReceita': 43.0, 'Cliente': 'CONDOMÍNIO RESIDENCIAL VIENA'}, {'CodCliente': 194, 'CodReceita': 43.0, 'Cliente': 'LUKKENT TECHNOLOGIES LTDA EPP'}, {'CodCliente': 199, 'CodReceita': 43.0, 'Cliente': 'RHUAN COSTA DOS SANTOS'}, {'CodCliente': 200, 'CodReceita': None, 'Cliente': 'MEGA POPULAR DROGARIA ITAPERUNA LTDA'}, {'CodCliente': 202, 'CodReceita': 43.0, 'Cliente': 'LUCIANO MIRANDA TEIXEIRA'}  ... displaying 10 of 1510 total bound parameter sets ...  {'CodCliente': 1134, 'CodReceita': 43.0, 'Cliente': 'FERREIRA E BASTOS DISTRIBUIDORA LTDA'}, {'CodCliente': 1522, 'CodReceita': 93.0, 'Cliente': 'G. CAMPOS PRUDENTE ROUPAS LTDA'}]
2024-04-29 08:22:46,798 INFO sqlalchemy.engine.Engine COMMIT
2024-04-29 08:22:46,801 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:46,802 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`fornecedor`
2024-04-29 08:22:46,802 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,804 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`fornecedor`
2024-04-29 08:22:46,804 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,806 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,807 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,809 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,810 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,811 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `fornecedor`
2024-04-29 08:22:46,812 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,813 INFO sqlalchemy.engine.Engine
DROP TABLE fornecedor
2024-04-29 08:22:46,814 INFO sqlalchemy.engine.Engine [no key 0.00043s] {}
2024-04-29 08:22:46,823 INFO sqlalchemy.engine.Engine
CREATE TABLE fornecedor (
	`CodFornecedor` BIGINT,
	`Fornecedor` TEXT
)


2024-04-29 08:22:46,824 INFO sqlalchemy.engine.Engine [no key 0.00070s] {}
2024-04-29 08:22:46,843 INFO sqlalchemy.engine.Engine INSERT INTO fornecedor (`CodFornecedor`, `Fornecedor`) VALUES (%(CodFornecedor)s, %(Fornecedor)s)
2024-04-29 08:22:46,843 INFO sqlalchemy.engine.Engine [generated in 0.00132s] [{'CodFornecedor': 166, 'Fornecedor': 'QTC BRASIL INDUSTRIA E BENEFICIAMENTO DE MATERIAIS EIRELI'}, {'CodFornecedor': 169, 'Fornecedor': 'INFOTEC COM. DE EQUIP. E SIST. DE SEGURANCA LTDA'}, {'CodFornecedor': 176, 'Fornecedor': 'SEGTEC DISTRIBUIDORA DE EQUIPAMENTOS DE SEGURANCA ELETRONICA E INFORMATICA LTDA'}, {'CodFornecedor': 178, 'Fornecedor': 'FUNDO DO REGIME GERAL DE PREVIDENCIA SOCIAL'}, {'CodFornecedor': 181, 'Fornecedor': 'BANCO PAN S.A.'}, {'CodFornecedor': 174, 'Fornecedor': 'POSTO DE GASOLINA TIMBOZAO III LTDA'}, {'CodFornecedor': 183, 'Fornecedor': 'SEG CAMPOS-COMERCIO DE EQUIPAMENTOS ELETRONICOS LTDA'}, {'CodFornecedor': 185, 'Fornecedor': 'SUPERMERCADO FLUMINENSE DE ITAPERUNA LTDA'}  ... displaying 10 of 606 total bound parameter sets ...  {'CodFornecedor': 100, 'Fornecedor': 'NEOGUARD SEGURANCA ELETRONICA LTDA'}, {'CodFornecedor': 866, 'Fornecedor': 'MEGA LIDER INFORMATICA EIRELI'}]
2024-04-29 08:22:46,853 INFO sqlalchemy.engine.Engine COMMIT

606

In [127]:
Receita.to_sql('receita', con=engine, if_exists='replace', index=False)
Gasto.to_sql('gasto', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:46,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:46,871 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`receita`
2024-04-29 08:22:46,872 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,875 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`receita`
2024-04-29 08:22:46,875 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,877 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,878 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,880 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,880 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,882 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `receita`
2024-04-29 08:22:46,882 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,884 INFO sqlalchemy.engine.Engine
DROP TABLE receita
2024-04-29 08:22:46,885 INFO sqlalchemy.engine.Engine [no key 0.00046s] {}
2024-04-29 08:22:46,897 INFO sqlalchemy.engine.Engine
CREATE TABLE receita (
	`CodReceita` BIGINT,
	`CodClasse` BIGINT,
	`Receita` TEXT,
	`Tipo` TEXT,
	`CodPE` BIGINT
)


2024-04-29 08:22:46,897 INFO sqlalchemy.engine.Engine [no key 0.00056s] {}
2024-04-29 08:22:46,947 INFO sqlalchemy.engine.Engine INSERT INTO receita (`CodReceita`, `CodClasse`, `Receita`, `Tipo`, `CodPE`) VALUES (%(CodReceita)s, %(CodClasse)s, %(Receita)s, %(Tipo)s, %(CodPE)s)
2024-04-29 08:22:46,948 INFO sqlalchemy.engine.Engine [generated in 0.00083s] [{'CodReceita': 43, 'CodClasse': 1, 'Receita': 'Receita monitoramento', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 47, 'CodClasse': 1, 'Receita': 'Receita venda de produtos', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 76, 'CodClasse': 1, 'Receita': 'Receita facilities', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 450, 'CodClasse': 1, 'Receita': 'Recebimento de empréstimo', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 1571, 'CodClasse': 1, 'Receita': 'Juros Recebidos', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 48, 'CodClasse': 1, 'Receita': 'Outras Entradas', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 207, 'CodClasse': 1, 'Receita': 'Receita limpeza e conservação', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 35, 'CodClasse': 1, 'Receita': 'Receita backup de imagens (mensal)', 'Tipo': 'R', 'CodPE': 10}  ... displaying 10 of 24 total bound parameter sets ...  {'CodReceita': 171, 'CodClasse': 1, 'Receita': 'Receita projetos energia solar', 'Tipo': 'R', 'CodPE': 10}, {'CodReceita': 182, 'CodClasse': 1, 'Receita': 'Receita escolta armada', 'Tipo': 'R', 'CodPE': 10}]
2024-04-29 08:22:46,950 INFO sqlalchemy.engine.Engine COMMIT
2024-04-29 08:22:46,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:46,956 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`gasto`
2024-04-29 08:22:46,957 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,959 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`gasto`
2024-04-29 08:22:46,959 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,962 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,962 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,964 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:46,964 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,966 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `gasto`
2024-04-29 08:22:46,966 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:46,968 INFO sqlalchemy.engine.Engine
DROP TABLE gasto
2024-04-29 08:22:46,969 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2024-04-29 08:22:46,979 INFO sqlalchemy.engine.Engine
CREATE TABLE gasto (
	`CodGasto` BIGINT,
	`CodClasse` BIGINT,
	`Gasto` TEXT,
	`Tipo` TEXT,
	`CodPE` BIGINT
)


2024-04-29 08:22:46,980 INFO sqlalchemy.engine.Engine [no key 0.00047s] {}
2024-04-29 08:22:46,998 INFO sqlalchemy.engine.Engine INSERT INTO gasto (`CodGasto`, `CodClasse`, `Gasto`, `Tipo`, `CodPE`) VALUES (%(CodGasto)s, %(CodClasse)s, %(Gasto)s, %(Tipo)s, %(CodPE)s)
2024-04-29 08:22:46,998 INFO sqlalchemy.engine.Engine [generated in 0.00067s] [{'CodGasto': 186, 'CodClasse': 6, 'Gasto': 'Folha de pagamento neoguard vigilância', 'Tipo': 'D', 'CodPE': 20}, {'CodGasto': 180, 'CodClasse': 6, 'Gasto': 'Repouso remunerado', 'Tipo': 'D', 'CodPE': 20}, {'CodGasto': 87, 'CodClasse': 8, 'Gasto': 'GRU', 'Tipo': 'D', 'CodPE': 20}, {'CodGasto': 88, 'CodClasse': 3, 'Gasto': 'Desp. material de higiene e limpeza', 'Tipo': 'D', 'CodPE': 30}, {'CodGasto': 353, 'CodClasse': 9, 'Gasto': 'Ativos Imobilizados', 'Tipo': 'D', 'CodPE': 40}, {'CodGasto': 1031, 'CodClasse': 4, 'Gasto': 'Água Cedae', 'Tipo': 'D', 'CodPE': 20}, {'CodGasto': 1029, 'CodClasse': 4, 'Gasto': 'Aluguel Base operacional', 'Tipo': 'D', 'CodPE': 20}, {'CodGasto': 109, 'CodClasse': 3, 'Gasto': 'Manutenção/ reparo de equipamentos de clientes', 'Tipo': 'D', 'CodPE': 30}  ... displaying 10 of 77 total bound parameter sets ...  {'CodGasto': 219, 'CodClasse': 6, 'Gasto': 'Acordo Judicial', 'Tipo': 'D', 'CodPE': 30}, {'CodGasto': 150, 'CodClasse': 8, 'Gasto': 'Encargos/Tarifas Polícia Federal', 'Tipo': 'D', 'CodPE': 30}]
2024-04-29 08:22:47,002 INFO sqlalchemy.engine.Engine COMMIT

77

In [128]:
Classes.to_sql('classes', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:47,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:47,016 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`classes`
2024-04-29 08:22:47,017 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,019 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`classes`
2024-04-29 08:22:47,019 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,021 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:47,022 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,024 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:47,024 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,026 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `classes`
2024-04-29 08:22:47,027 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,029 INFO sqlalchemy.engine.Engine
DROP TABLE classes
2024-04-29 08:22:47,029 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2024-04-29 08:22:47,038 INFO sqlalchemy.engine.Engine
CREATE TABLE classes (
	`CodClasse` BIGINT,
	`Classe` TEXT
)


2024-04-29 08:22:47,039 INFO sqlalchemy.engine.Engine [no key 0.00055s] {}
2024-04-29 08:22:47,060 INFO sqlalchemy.engine.Engine INSERT INTO classes (`CodClasse`, `Classe`) VALUES (%(CodClasse)s, %(Classe)s)
2024-04-29 08:22:47,061 INFO sqlalchemy.engine.Engine [generated in 0.00136s] [{'CodClasse': 1, 'Classe': 'Entradas'}, {'CodClasse': 2, 'Classe': 'Administrativas'}, {'CodClasse': 3, 'Classe': 'Despesa Operacional'}, {'CodClasse': 4, 'Classe': 'Despesas fixas'}, {'CodClasse': 5, 'Classe': 'Financiamentos'}, {'CodClasse': 6, 'Classe': 'Folha de Pagamento'}, {'CodClasse': 7, 'Classe': 'Fornecedores'}, {'CodClasse': 8, 'Classe': 'Impostos'}  ... displaying 10 of 12 total bound parameter sets ...  {'CodClasse': 11, 'Classe': 'Merc.Vendas'}, {'CodClasse': 12, 'Classe': 'Outros'}]
2024-04-29 08:22:47,063 INFO sqlalchemy.engine.Engine COMMIT

12

In [129]:
Empresas.to_sql('empresas', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:47,073 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:47,075 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`empresas`
2024-04-29 08:22:47,076 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,078 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`empresas`
2024-04-29 08:22:47,079 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,081 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:47,081 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,083 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:47,083 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,085 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `empresas`
2024-04-29 08:22:47,085 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,087 INFO sqlalchemy.engine.Engine
DROP TABLE empresas
2024-04-29 08:22:47,088 INFO sqlalchemy.engine.Engine [no key 0.00068s] {}
2024-04-29 08:22:47,099 INFO sqlalchemy.engine.Engine
CREATE TABLE empresas (
	`CodEmpresa` BIGINT,
	`Empresa` TEXT
)


2024-04-29 08:22:47,100 INFO sqlalchemy.engine.Engine [no key 0.00077s] {}
2024-04-29 08:22:47,118 INFO sqlalchemy.engine.Engine INSERT INTO empresas (`CodEmpresa`, `Empresa`) VALUES (%(CodEmpresa)s, %(Empresa)s)
2024-04-29 08:22:47,119 INFO sqlalchemy.engine.Engine [generated in 0.00065s] [{'CodEmpresa': 1, 'Empresa': 'Neoguard Segurança Eletronica'}, {'CodEmpresa': 2, 'Empresa': 'Neoguard Vigilancia'}, {'CodEmpresa': 3, 'Empresa': 'Neoguard Serviços'}]
2024-04-29 08:22:47,121 INFO sqlalchemy.engine.Engine COMMIT

3

In [130]:
PE.to_sql('pe', con=engine, if_exists='replace', index=False)

2024-04-29 08:22:47,131 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-29 08:22:47,133 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`pe`
2024-04-29 08:22:47,134 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,136 INFO sqlalchemy.engine.Engine DESCRIBE `neoguardcontrol`.`pe`
2024-04-29 08:22:47,137 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,139 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:47,139 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,142 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `neoguardcontrol`
2024-04-29 08:22:47,142 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,144 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `pe`
2024-04-29 08:22:47,145 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-29 08:22:47,146 INFO sqlalchemy.engine.Engine
DROP TABLE pe
2024-04-29 08:22:47,147 INFO sqlalchemy.engine.Engine [no key 0.00043s] {}
2024-04-29 08:22:47,163 INFO sqlalchemy.engine.Engine
CREATE TABLE pe (
	`CodPE` BIGINT,
	`PE` TEXT
)


2024-04-29 08:22:47,163 INFO sqlalchemy.engine.Engine [no key 0.00073s] {}
2024-04-29 08:22:47,183 INFO sqlalchemy.engine.Engine INSERT INTO pe (`CodPE`, `PE`) VALUES (%(CodPE)s, %(PE)s)
2024-04-29 08:22:47,184 INFO sqlalchemy.engine.Engine [generated in 0.00080s] [{'CodPE': 10, 'PE': 'receita'}, {'CodPE': 20, 'PE': 'fixo'}, {'CodPE': 30, 'PE': 'variavel'}, {'CodPE': 40, 'PE': 'investimento'}]
2024-04-29 08:22:47,186 INFO sqlalchemy.engine.Engine COMMIT

4