In [288]:
import pandas as pd
import sqlalchemy as sq
from sqlalchemy import text
import pyodbc as po
import pymysql as pm

In [289]:
SERVER = 'SEVENTH\INSIDEINS'
DATABASE = 'Service'
DRIVER = 'SQL Server Native Client 11.0'
USERNAME = 'controladoria'
PASSWORD = 'Brb1508.'
DATABASE_CONNECTION = f'mssql://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

engine = sq.create_engine(DATABASE_CONNECTION)
connection = engine.connect()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Controladoria\AppData\Local\Temp\ipykernel_17084\3766686350.py:1: SyntaxWarning: invalid escape sequence '\I'
  SERVER = 'SEVENTH\INSIDEINS'

In [290]:
CentroResultados = pd.read_sql_query('SELECT * FROM [Service].[dbo].[CentroResultados]',connection)

In [291]:
CentroResultados = CentroResultados.query("ApuraResultado == True")

In [292]:
CentroResultados

,CodInterno,Descrição,ReceitaDespesa,Tipo,Rateia,Ordem,TpRateio,RatResultados,RateiaEmpresa,ApuraResultado
0,87.0,Receita monitoramento,R,Entradas,False,3,0,0,0.0,True
1,88.0,Receita venda de produtos,R,Entradas,False,3,0,0,0.0,True
2,224.0,Receita facilities,R,Entradas,False,3,0,0,0.0,True
3,90.0,Recebimento de empréstimo,R,Entradas,False,3,0,0,0.0,True
4,91.0,Juros Recebidos,R,Entradas,False,3,0,0,NaN,True
...,...,...,...,...,...,...,...,...,...,...
110,267.0,Antivírus,D,Despesa Operacional,False,4,0,0,0.0,True
111,270.0,Receita escolta armada,R,Entradas,False,3,0,0,0.0,True
112,272.0,Cesta básica,D,Folha de Pagamento,False,4,0,0,0.0,True
113,276.0,Acordo Judicial,D,Folha de Pagamento,False,4,0,0,0.0,True
125,256.0,Encargos/Tarifas Polícia Federal,D,Impostos,False,4,0,0,0.0,True

In [293]:
SubContas = pd.read_sql_query('SELECT * FROM [Service].[dbo].[SubContas]',connection)

In [294]:
SubContas

,CodInterno,Descrição,CentroResultados,Veículos,DespVeículos,Detalhada,ContaExportacao,Inativo,CentroVinculado,SomaBI
0,43.0,Receita monitoramento de alarme,87.0,False,NaN,False,None,False,8.0,False
1,47.0,Receita venda de produtos,88.0,False,NaN,False,None,False,7.0,False
2,76.0,Receita posto de serviço porteiro,224.0,False,NaN,None,None,False,14.0,False
3,450.0,Recebimento de empréstimo,90.0,False,NaN,False,None,False,12.0,False
4,1571.0,Juros Recebidos,91.0,False,NaN,False,None,False,12.0,False
...,...,...,...,...,...,...,...,...,...,...
252,101.0,Taxa maquina de cartão,240.0,False,NaN,None,None,False,15.0,False
253,102.0,Tarifas PIX/ TED/ DOC,129.0,False,NaN,None,None,False,15.0,False
254,168.0,Ajuda de custo,260.0,False,NaN,None,None,False,NaN,False
255,169.0,Pensão alimentícia,263.0,False,NaN,None,None,False,NaN,False
256,193.0,Técnico terceirizado para projetos energia solar,264.0,False,NaN,None,None,False,7.0,False

In [295]:
SubContas = SubContas.rename(columns={'CodInterno':'CentroResultados','CentroResultados':'CodInterno'})

In [296]:
SubContas

,CentroResultados,Descrição,CodInterno,Veículos,DespVeículos,Detalhada,ContaExportacao,Inativo,CentroVinculado,SomaBI
0,43.0,Receita monitoramento de alarme,87.0,False,NaN,False,None,False,8.0,False
1,47.0,Receita venda de produtos,88.0,False,NaN,False,None,False,7.0,False
2,76.0,Receita posto de serviço porteiro,224.0,False,NaN,None,None,False,14.0,False
3,450.0,Recebimento de empréstimo,90.0,False,NaN,False,None,False,12.0,False
4,1571.0,Juros Recebidos,91.0,False,NaN,False,None,False,12.0,False
...,...,...,...,...,...,...,...,...,...,...
252,101.0,Taxa maquina de cartão,240.0,False,NaN,None,None,False,15.0,False
253,102.0,Tarifas PIX/ TED/ DOC,129.0,False,NaN,None,None,False,15.0,False
254,168.0,Ajuda de custo,260.0,False,NaN,None,None,False,NaN,False
255,169.0,Pensão alimentícia,263.0,False,NaN,None,None,False,NaN,False
256,193.0,Técnico terceirizado para projetos energia solar,264.0,False,NaN,None,None,False,7.0,False

In [297]:
Codigos = SubContas.filter(['CentroResultados','CodInterno'])

In [298]:
Codigos

     CentroResultados  CodInterno
0                43.0        87.0
1                47.0        88.0
2                76.0       224.0
3               450.0        90.0
4              1571.0        91.0
..                ...         ...
252             101.0       240.0
253             102.0       129.0
254             168.0       260.0
255             169.0       263.0
256             193.0       264.0

[257 rows x 2 columns]

In [299]:
Contas = CentroResultados.filter(['CodInterno','Descrição','ReceitaDespesa','Tipo'])

In [300]:
Contas

,CodInterno,Descrição,ReceitaDespesa,Tipo
0,87.0,Receita monitoramento,R,Entradas
1,88.0,Receita venda de produtos,R,Entradas
2,224.0,Receita facilities,R,Entradas
3,90.0,Recebimento de empréstimo,R,Entradas
4,91.0,Juros Recebidos,R,Entradas
...,...,...,...,...
110,267.0,Antivírus,D,Despesa Operacional
111,270.0,Receita escolta armada,R,Entradas
112,272.0,Cesta básica,D,Folha de Pagamento
113,276.0,Acordo Judicial,D,Folha de Pagamento
125,256.0,Encargos/Tarifas Polícia Federal,D,Impostos

In [301]:
Rubricas = pd.merge(Contas,Codigos,how='inner',on='CodInterno')

In [302]:
Rubricas = Rubricas.rename(columns={'Descrição':'Nome','Tipo':'Classe'})

In [303]:
Rubricas

,CodInterno,Nome,ReceitaDespesa,Classe,CentroResultados
0,87.0,Receita monitoramento,R,Entradas,43.0
1,87.0,Receita monitoramento,R,Entradas,129.0
2,87.0,Receita monitoramento,R,Entradas,217.0
3,87.0,Receita monitoramento,R,Entradas,218.0
4,87.0,Receita monitoramento,R,Entradas,216.0
...,...,...,...,...,...
225,276.0,Acordo Judicial,D,Folha de Pagamento,219.0
226,256.0,Encargos/Tarifas Polícia Federal,D,Impostos,150.0
227,256.0,Encargos/Tarifas Polícia Federal,D,Impostos,153.0
228,256.0,Encargos/Tarifas Polícia Federal,D,Impostos,157.0
229,256.0,Encargos/Tarifas Polícia Federal,D,Impostos,149.0

In [304]:
Rubricas = Rubricas.filter(['CentroResultados','Nome','Classe','ReceitaDespesa'])

In [305]:
Rubricas

,CentroResultados,Nome,Classe,ReceitaDespesa
0,43.0,Receita monitoramento,Entradas,R
1,129.0,Receita monitoramento,Entradas,R
2,217.0,Receita monitoramento,Entradas,R
3,218.0,Receita monitoramento,Entradas,R
4,216.0,Receita monitoramento,Entradas,R
...,...,...,...,...
225,219.0,Acordo Judicial,Folha de Pagamento,D
226,150.0,Encargos/Tarifas Polícia Federal,Impostos,D
227,153.0,Encargos/Tarifas Polícia Federal,Impostos,D
228,157.0,Encargos/Tarifas Polícia Federal,Impostos,D
229,149.0,Encargos/Tarifas Polícia Federal,Impostos,D

In [306]:
Classes = pd.read_csv('Classe.csv',sep=';')

In [307]:
Classes

    CodClasse               Classe
0           1             Entradas
1           2      Administrativas
2           3  Despesa Operacional
3           4       Despesas fixas
4           5       Financiamentos
5           6   Folha de Pagamento
6           7         Fornecedores
7           8             Impostos
8           9        Investimentos
9          10            Marketing
10         11          Merc.Vendas
11         12               Outros

In [308]:
Rubricas = pd.merge(Rubricas,Classes,how='inner',on='Classe')

In [309]:
Rubricas

,CentroResultados,Nome,Classe,ReceitaDespesa,CodClasse
0,43.0,Receita monitoramento,Entradas,R,1
1,129.0,Receita monitoramento,Entradas,R,1
2,217.0,Receita monitoramento,Entradas,R,1
3,218.0,Receita monitoramento,Entradas,R,1
4,216.0,Receita monitoramento,Entradas,R,1
...,...,...,...,...,...
225,219.0,Acordo Judicial,Folha de Pagamento,D,6
226,150.0,Encargos/Tarifas Polícia Federal,Impostos,D,8
227,153.0,Encargos/Tarifas Polícia Federal,Impostos,D,8
228,157.0,Encargos/Tarifas Polícia Federal,Impostos,D,8
229,149.0,Encargos/Tarifas Polícia Federal,Impostos,D,8

In [310]:
Pe = pd.read_csv('AdPe.csv',sep=';')

In [311]:
Pe

     CentroResultados  Pe
0                   7  10
1                   8  10
2                  10  30
3                  14  10
4                  16  10
..                ...  ..
205              9856  20
206             10581  20
207             10582  20
208             10584  20
209             10585  20

[210 rows x 2 columns]

In [312]:
Rubricas = pd.merge(Rubricas,Pe,how='inner',on='CentroResultados')

In [313]:
Rubricas

,CentroResultados,Nome,Classe,ReceitaDespesa,CodClasse,Pe
0,43.0,Receita monitoramento,Entradas,R,1,10
1,218.0,Receita monitoramento,Entradas,R,1,10
2,216.0,Receita monitoramento,Entradas,R,1,10
3,96.0,Receita monitoramento,Entradas,R,1,10
4,99.0,Receita monitoramento,Entradas,R,1,10
...,...,...,...,...,...,...
187,219.0,Acordo Judicial,Folha de Pagamento,D,6,30
188,150.0,Encargos/Tarifas Polícia Federal,Impostos,D,8,30
189,153.0,Encargos/Tarifas Polícia Federal,Impostos,D,8,30
190,157.0,Encargos/Tarifas Polícia Federal,Impostos,D,8,30
191,149.0,Encargos/Tarifas Polícia Federal,Impostos,D,8,40

In [314]:
Receitas = Rubricas.query('ReceitaDespesa == "R"')

In [315]:
Receitas = Receitas.filter(['CentroResultados','Nome','CodClasse','ReceitaDespesa','Pe'])

In [316]:
Receitas = Receitas.astype({'CentroResultados':'int64','Nome':'str','CodClasse':'int64','ReceitaDespesa':'str','Pe':'int64'})
Receitas.dtypes

CentroResultados     int64
Nome                object
CodClasse            int64
ReceitaDespesa      object
Pe                   int64
dtype: object

In [317]:
Receitas = Receitas.rename(columns={'CentroResultados':'CodReceita','Nome':'Receita','ReceitaDespesa':'Tipo','Pe':'CodPE'})

In [318]:
Receitas

     CodReceita                                Receita  CodClasse Tipo  CodPE
0            43                  Receita monitoramento          1    R     10
1           218                  Receita monitoramento          1    R     10
2           216                  Receita monitoramento          1    R     10
3            96                  Receita monitoramento          1    R     10
4            99                  Receita monitoramento          1    R     10
5            47              Receita venda de produtos          1    R     10
6            76                     Receita facilities          1    R     10
7            91                     Receita facilities          1    R     10
8            92                     Receita facilities          1    R     10
9            94                     Receita facilities          1    R     10
10          227                     Receita facilities          1    R     10
11          229                     Receita facilities          1    R     10
12          450              Recebimento de empréstimo          1    R     10
13         1571                        Juros Recebidos          1    R     10
14           48                        Outras Entradas          1    R     10
15          205                        Outras Entradas          1    R     30
16          207          Receita limpeza e conservação          1    R     10
20           35     Receita backup de imagens (mensal)          1    R     10
27           85                     Receita vigilância          1    R     10
30          587              Venda de ativo da empresa          1    R     10
47           54               Retorno de Investimentos          1    R     40
48          222               Retorno de Investimentos          1    R     10
141           7              Receita serviços técnicos          1    R     10
142          19                           Receita GPRS          1    R     10
143          93        Receita locação de equipamentos          1    R     10
144          22  Receita manutenção prev. e reparativa          1    R     10
145          17           Receita portaria inteligente          1    R     10
146          97           Receita portaria inteligente          1    R     10
147         100           Receita portaria inteligente          1    R     10
148          16                   Receita rastreamento          1    R     10
149           8       Receita monitoramento de imagens          1    R     10
150          34       Receita monitoramento de imagens          1    R     10
151          98       Receita monitoramento de imagens          1    R     10
159          14                       Multa Contratual          1    R     10
179         165          Receita vigilância de eventos          1    R     10
180         166    Receita relógio de ponto eletrônico          1    R     10
185         182                 Receita escolta armada          1    R     10

In [319]:
Gastos = Rubricas.query('ReceitaDespesa == "D"')

In [320]:
Gastos = Gastos.filter(['CentroResultados','Nome','CodClasse','ReceitaDespesa','Pe'])

In [321]:
Gastos = Gastos.astype({'CentroResultados':'int64','Nome':'str','CodClasse':'int64','ReceitaDespesa':'str','Pe':'int64'})
Gastos.dtypes

CentroResultados     int64
Nome                object
CodClasse            int64
ReceitaDespesa      object
Pe                   int64
dtype: object

In [322]:
Gastos = Gastos.rename(columns={'CentroResultados':'CodGasto','Nome':'Gasto','ReceitaDespesa':'Tipo','Pe':'CodPE'})

In [323]:
Gastos

     CodGasto                                   Gasto  CodClasse Tipo  CodPE
17        186  Folha de pagamento neoguard vigilância          6    D     20
18         95  Folha de pagamento neoguard vigilância          6    D     20
19         87                                     GRU          8    D     20
21         88     Desp. material de higiene e limpeza          3    D     30
22        112     Desp. material de higiene e limpeza          3    D     30
..        ...                                     ...        ...  ...    ...
187       219                         Acordo Judicial          6    D     30
188       150        Encargos/Tarifas Polícia Federal          8    D     30
189       153        Encargos/Tarifas Polícia Federal          8    D     30
190       157        Encargos/Tarifas Polícia Federal          8    D     30
191       149        Encargos/Tarifas Polícia Federal          8    D     40

[155 rows x 5 columns]

In [324]:
Receitas.to_csv("Receita.csv",encoding='utf-8',index=False)
Gastos.to_csv("Gasto.csv",encoding='utf-8',index=False)